/* color pallet */
:root {
    --primary-color: #ffffff;
    --secondary-color: #2461bd;
    --accent-color: #d8404c;
    --text-color: #333333;
    --background-color: #000000;
}


body{
    background-color: var(--background-color);
}


@font-face {
    font-family: 'chopsic';
    src: src(assets/fonts/chopsic);
    font-weight: normal;
    font-style: normal;
}


/* Header */

@keyframes car1-slide {
    from {
        padding-left: 90%;
    }
    to {
        padding-left: 10%;
    }
}
@keyframes car2-slide {
    from {
        padding-right: 90%;
    }
    to {
        padding-right: 3%;
    }
}
@keyframes car3-slide {
    from {
        padding-left: 90%;
    }
    to {
        padding-left: 0%;
    }
}


header{
    display: grid;
    padding: 2vh 2vh 2vh 2vh;
    font-family: 'chopsic';
    color:#131831;
    text-align: middle;
    gap: 0.5vh;
}

.wor{
    /* display: grid;
    grid-template-columns: 200fr;
    align-items: center; */
    padding-left: 6%;
    border-radius: 2.5em;
    
}

/* .wor img {
    justify-self: end;
} */

.cars1 {
    height: 75%;
    transform: scalex(-1);
    max-height: 2rem;
    /* padding-left: 10%; */
    animation: car1-slide 5s ease-out forwards;

}

.cars2 {
    /* width: 6rem; */
    height: 75%;
    max-height: 2rem;
    /* padding-right: 5%; */
    animation: car2-slide 5s ease-out forwards;
}

.cars3 {
    height: 75%;
    max-height: 2rem;
    transform: scalex(-1);
    /* padding-left: 7%; */
    animation: car1-slide 5s ease-out forwards;
}

.red-stripe{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 40px;
    background-color: var(--accent-color);
    height: 10px;
    width: 80%;
    min-height: 2rem;


}

.white-stripe{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 40px;
    background-color:rgb(202, 202, 202);
    height: 10px;
    width: 70%;
    min-height: 2rem;
}

.blue-stripe{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 40px;
    background-color:#3271d8;
    height: 10px;
    width: 90%;
    min-height: 2rem;
}